/*PROJECT COLORS*/
:root {
    --background-color:#131417;
    --main-color:#1d1f22;
    --accent-color:#d6cfcf;
    --green-color:#49e361;
    --red-color:#e53f3f;
}

body{
    color: var(--accent-color);
    background-color: var(--background-color);
}

.logo{
    color: var(--accent-color);
    height: 150px;
    width: 150px;
}

button {
    background-color: var(--main-color);
    color: var(--accent-color);
    border-style: none;
    border-radius: 8px;
}