/*PROJECT COLORS*/
:root {
    --background-color:#131417;
    --main-color:#1d1f22;
    --accent-color:#d6cfcf;
    --green-color:#49e361;
    --red-color:#e53f3f;
    --test-color:rgb(81, 207, 138);
}

body{
    color: var(--accent-color);
    background-color: var(--background-color);
    font-family: Helvetica, sans-serif;
    font-weight: bold;
}

.spacer{
    height: 80px;
}

.logo{
    fill: var(--accent-color);
    flex:2;
    justify-content: left;
    margin-bottom: -8px;
    margin-left: 55px;
    margin-right: 35px;
    font-size: 32px;
}

.container{
    /*background-color: var(--test-color);*/
    display: flex;
    max-width: 600px;
    margin: 16px;
    margin-left: auto;
    margin-right: auto;
}

button {
    background-color: var(--main-color);
    color: var(--accent-color);
    border-style: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    transition-duration: 0.3s;
}

button.new-game{
    height: 60px;
    flex: 1;
    margin-top: auto;
}

button.play-button{
    flex: 1;
    aspect-ratio: 1.5/1;
}

button:hover{
    background-color: var(--accent-color);
    color: var(--main-color);
    border-style: none;
    border-radius: 8px;
}

.section-header{
    writing-mode: vertical-rl;
    font-size: 16px;
    margin-right: -8px;
    margin-top: 24px;
}

.scoreboard{
    background-color: var(--main-color);
    border-radius: 8px;
    display: flex;
    flex: 1;
    height: 264px;
    margin-left: 16px;
}

.win-screen, .lose-screen{
        background-color: var(--main-color);
        border-radius: 8px;
        display: flex;
        flex: 1;
        height: 264px;
        margin-left: 16px;
}

.win-screen p , .lose-screen p{
    font-size: 100px;
    margin: auto;
    

}

.player-score-box, .computer-score-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 22px;
    padding-bottom: 32px;
    align-items: center;
    justify-content: space-around;
}

.computer-title, .player-title{
    font-size: 24px;
    margin: 0px;
}

.player-score, .computer-score{
    font-size: 100px;
    margin: 0px; 
}

.player-score, .player-title{
    margin-left: 16px;
}

.computer-score{
    margin-right: 8px;
} 

.computer-title{
    margin-right: 16px;
}

.score-divider{
    padding-top: 32px;
    padding-bottom: 32px;
    justify-content: center;
    align-content: center;
    display: flex;
    flex-direction: column;
}

.round-marker{
    background-color: var(--main-color);
    border-style: solid;
    border-color: var(--accent-color);
    border-width: 1px;
    height: 40px;
    width: 40px;
    border-radius: 100vw;
    align-items: center;
    justify-content: center;
}

.current-round{
    margin-top: 12px;
    text-align: center;
    justify-content: center;
}

.divider-line{
    background-color: var(--accent-color);
    width: 1px;
    height: 144px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
}

.container.section2{
    gap: 16px;
}

.container.section3{
    gap: 16px;
}
.round-history{
    /*background-color: var(--test-color);*/
    flex: 2;

}
.spacer-history{
    flex:1;    
}

.round-list{
    list-style: none;
    margin: 0px;
    margin-right: -6px;
    padding: 0px;
}

.round{
    font-size: 16px;
    background-color: var(--main-color);
    padding: 32px;
    border-radius: 8px;
    margin-bottom: 16px;
    text-align: center;
}